header.page-header {
  background: orange;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  nav {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        a {
          padding: 0.3em 0.5em;
          margin: 0 0.2em;
          display: flex;
          align-items: flex-end;
          color: #fff;
          font-weight: 700;
          text-decoration: none;
          &:hover {
            color: $blk;
          }
          &.active {
            background: rgba($fff, 0.2);
          }
          img {
            width: 60px;
          }
        }
      }
    }
  }
}
